In [1]:
1+1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2+3)* (5+5)

50

In [8]:
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [19]:
num = 12
name = 'Sam'

In [21]:
print('My number is: {one}, and my name is {two}'.format(one=num,two=name))

My number is: 12, and my name is Sam

In [22]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['hi', 1, [1,2]]

['hi', 1, [1, 2]]

In [25]:
my_list = ['a','b','c']

In [26]:
my_list.append('d')

In [27]:
my_list

['a', 'b', 'c', 'd']

In [28]:
my_list[0]

'a'

In [29]:
my_list[1]

'b'

In [31]:
my_list[1:]

['b', 'c', 'd']

In [32]:
my_list[:1]

['a']

In [33]:
my_list[0] = 'NEW'

In [34]:
my_list

['NEW', 'b', 'c', 'd']

In [35]:
nest = [1,2,3,[4,5,['target']]]

In [36]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [37]:
nest[3]

[4, 5, ['target']]

In [38]:
nest[3][2]

['target']

In [39]:
nest[3][2][0]

'target'

In [41]:
d = {'key1': "item1", "key2": "item2"}

In [42]:
d

{'key1': 'item1', 'key2': 'item2'}

In [46]:
d["key1"]

'item1'

In [44]:
True

True

In [45]:
False

False

In [47]:
t = (1,2,3)

In [48]:
t[0]

1

In [49]:
t[0] = 'NEW'

<class 'TypeError'>: 'tuple' object does not support item assignment

In [50]:
{1,2,3}

{1, 2, 3}

In [51]:
{1,2,3,1,2,1,1,1,3,4}

{1, 2, 3, 4}

In [52]:
1 > 2

False

In [53]:
1 < 2

True

In [54]:
1 >= 1

True

In [55]:
1 <= 4

True

In [56]:
1 == 1

True

In [57]:
"hi" == "bye"

False

In [58]:
(1 > 2) and (2 < 3)

False

In [59]:
(1 > 2) or ( 2 < 3 )

True

In [60]:
(1 == 2) or (2==3) or (4==4)

True

In [61]:
if 1 < 2:
    print("HAHAHAHA")

HAHAHAHA

In [63]:
if 1 < 2:
    print("HIHI")

HIHI

In [67]:
if 1 < 2:
    print("first")
else:
    print("last")

first

In [68]:
if 1 > 2:
    print("first")
else:
    print("last")

last

In [70]:
if 1 == 2:
    print("first")
elif 3 == 3:
    print("middle")
else:
    print("Last")

middle

In [71]:
seq = [1,2,3,4]

In [74]:
for item in seq:
    print(item)

1
2
3
4

In [76]:
for item in seq:
    print("Yup1")

Yup1
Yup1
Yup1
Yup1

In [78]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8

In [83]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [84]:
range(5)

range(0, 5)

In [85]:
for i in range(5):
    print(i)

0
1
2
3
4

In [86]:
list(range(5))

[0, 1, 2, 3, 4]

In [87]:
x = [1,2,3,4]

In [89]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [90]:
[item**2 for item in x]

[1, 4, 9, 16]

In [91]:
def my_func(param1="default"):
    """
    Docstring goes here
    """
    print(param1)

In [92]:
my_func

In [93]:
my_func()

default

In [94]:
my_func("new param")

new param

In [95]:
my_func(param1="new param1")

new param1

In [96]:
def square(x):
    return x**2

In [97]:
out = square(10)

In [98]:
print(out)

100

In [99]:
def time2(var):
    return var*2

In [100]:
time2(4)

8

In [101]:
lambda var: var*2

In [102]:
seq = [1,2,3,4,5]

In [104]:
map(time2,seq)

In [105]:
list(map(time2,seq))

[2, 4, 6, 8, 10]

In [106]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [107]:
filter(lambda item: item%2 == 0, seq)

In [108]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

In [109]:
st = "Hello my name is Same"

In [110]:
st.lower()

'hello my name is same'

In [111]:
st.upper()

'HELLO MY NAME IS SAME'

In [112]:
st.split()

['Hello', 'my', 'name', 'is', 'Same']

In [113]:
tweet = "Go Sports! #Sports"

In [114]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [115]:
tweet.split("#")[1]

'Sports'

In [116]:
d

{'key1': 'item1', 'key2': 'item2'}

In [117]:
d.keys()

dict_keys(['key1', 'key2'])

In [118]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [119]:
lst = [1,2,3]

In [120]:
lst.pop()

3

In [121]:
lst

[1, 2]

In [122]:
'x' in [1,2,3]

False

In [123]:
"x" in ["x", "y"]

True